body {
	display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* Navbar */
nav .nav-wrapper {
	background-color: #EBD3A3; 
}

.side-nav {
	background-color: #EBD3A3;
	font-family: 'Ribeye Marrow', cursive;

}

.nav-wrapper ul li a {
	font-family: 'Ribeye Marrow', cursive;
	color: #603813;
	font-size: 1.2em;
}

.brand-logo img {
	width: 60.488px;
	height: 60.488px;
	max-height: 60px;
	margin-left: 5px;
}

 .slider{
	background-image: cover;
}

.reenie {
	font-family: 'Reenie Beanie', cursive;
}

i.material-icons {
	color: #603813;

}

/* Slider */

.slider {
	margin-top: 0px;
	
}

.slider .indicators .indicator-item.active {
    background-color: #603813;
}

/* Main */



#for-logo {
	font-family: 'Ribeye Marrow', cursive;
	margin-top: 70px;
	margin-bottom: 100px;
	color: #603813;
}



.logo {
	width: 350px;
	height: 120px;
	margin: 0 auto;
	position: relative;
	left: 0px;
}


/* Footer */

footer.page-footer {
	background-color: #EBD3A3;
	color: #603813;
}

.social-media {
	color: #603813;
	font-family: 'Reenie Beanie', cursive;
	font-size: 1.7em;
}

#lower-bottom-logo {
	color: #603813;
	font-family: 'Ribeye Marrow', cursive;
}

#lower-bottom-words {
	color: #603813;
	font-family: 'Reenie Beanie', cursive;
	font-size: 2em;
	margin-top: 0px;
}

#info {
	font-family: 'Ribeye Marrow', cursive;
}


/* About Page */

#hback {
	background-image: url('../images/paperbag.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #EBD3A3;
}

.logo2 {
	display: inline-block;
	margin-top: 0px;
	
	width: 100px;
	height: 100px;
}

 #our-history {
 	font-family: 'Reenie Beanie', cursive;
 	color: #603813;
 	font-size: 1.5em;
 	font-weight: 800;
 }

 /* Services Page */

 #paper {
 	background-image: url('../images/paperbag.jpg');
 	background-repeat: no-repeat;
	background-size: cover;
	background-color: #EBD3A3;
 }

 #serv {
 	font-family: 'Reenie Beanie', cursive;
 	color: #603813;
 }

 #sizes {
 	font-family: 'Reenie Beanie', cursive;
 	font-size: 1.7em;
 	color: #603813;

 }

 /* Contact Page */

 #contact {
 	font-family: 'Reenie Beanie', cursive;
 	color: #603813;

 }

 #con {
  font-size: 1.7em;
 }

 .email-us {
 	font-family: 'Reenie Beanie', cursive;
 	color: #603813;
 	font-size: 1.7em;
 }

 .email-us a {
 	color: #603813;
 }

 #get-in-touch {
 	background-image: url('../images/paperbag.jpg');
 	background-repeat: no-repeat;
	background-size: cover;
	background-color: #EBD3A3;
 }

 .btn.waves-effect.waves-light {
 	background-color: #603813;
 }

 #send {
 	color: #EBD3A3;
 }

  /* label color */
   .input-field label {
     color: #603813;
     font-family: 'Reenie Beanie', cursive;
     font-size: 1.5em;

   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #603813;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #603813;
     box-shadow: 0 1px 0 0 #603813;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #603813;
     box-shadow: 0 1px 0 0 #603813;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #603813;
     box-shadow: 0 1px 0 0 #603813;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #603813;
   }

   input:not([type]), 
   input[type=text], 
   input[type=password], 
   input[type=email],
   input[type=email]:focus:not([readonly]), 
   input[type=url], 
   input[type=time], 
   input[type=date], 
   input[type=datetime], 
   input[type=datetime-local], 
   input[type=tel], 
   input[type=number], 
   input[type=search], 
   textarea.materialize-textarea,
   textarea.materialize-textarea:focus:not([readonly]) {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #603813;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 15px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
}